node_modules
.DS_Store
dist
coverage
.env
.env.local
.env.production
.next
apps/api/generated
apps/api/prisma/dev.db
apps/api/prisma/*.db-journal
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
