NODE_ENV=development
PORT=4000
API_PREFIX=api
CORS_ORIGIN=http://localhost:3000

DATABASE_URL=postgresql://cs2:cs2_secure_password@localhost:5432/cs2_platform?schema=public
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=replace_me_access
JWT_REFRESH_SECRET=replace_me_refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

COOKIE_DOMAIN=localhost
COOKIE_SECURE=false

EOS_API_BASE_URL=https://eos.greymass.com
